.bp-navigation {
    display: none;

    .bp-mobile-social-links {
        display: none;
    }

    .bp-social-link {
        color: var(--navigation-link-color);

        &:hover,
        &:focus {
            color: var(--navigation-link-hover-color);
        }
    }

    .bp-social-icon {
        height: 2.5rem;
        width: 2.5rem;
    }
}

.bp-menu-visible {
    .bp-navigation {
        background-color: var(--header-bg-color);
        bottom: 0;
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 9;
    }

    .bp-mobile-social-links {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 6.125rem;
        margin: 2rem auto;
    }

    .bp-social-list {
        display: block;
    }
}

.bp-navigation-list {
    border-top: 1px solid $bp-dark;
    font-family: $heading-font-stack;
    font-size: 0;
    font-weight: bold;
    margin: 4rem 0 0;
    padding: 0;
}

.bp-navigation-list-item {
    display: block;
    height: 4rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.bp-navigation-link {
    background-color: var(--navigation-link-bg-color);
    border-bottom: 1px solid $bp-dark;
    color: var(--navigation-link-color);
    display: block;
    font-size: 1rem;
    height: 4rem;
    line-height: 4rem;
    padding: 0 1.5rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 100%;

    &:hover,
    &:focus {
        background-color: var(--navigation-link-hover-bg-color);
        color: var(--navigation-link-hover-color);
    }
}

.bp-navigation-link-active {
    background-color: var(--navigation-link-active-bg-color);
    color: var(--navigation-link-active-color);
    text-decoration: underline;
}

@media #{$small-bp} {
    .bp-navigation {
        bottom: auto;
        background-color: transparent;
        display: block;
        height: 6.25rem;
        left: auto;
        margin: 0 0 0 auto;
        position: relative;
        right: auto;
        top: auto;

        .bp-mobile-social-links {
            display: none;
        }
    }

    .bp-menu-visible {
        .bp-navigation {
            background-color: transparent;
            bottom: auto;
            display: block;
            left: auto;
            position: static;
            right: auto;
            top: auto;
            z-index: 1;
        }

        .bp-mobile-social-links {
            display: none;
        }
    }

    .bp-navigation-list {
        border-top: none;
        height: 6.25rem;
        margin: 0;
    }

    .bp-navigation-list-item {
        display: inline-block;
        height: 6.25rem;
    }

    .bp-navigation-item {
        height: 6.25rem;
    }

    .bp-navigation-link {
        border-bottom: none;
        font-size: 0.825rem;
        height: 6.25rem;
        line-height: 6.25rem;
        padding: 0 0.75rem;
        text-align: center;
    }
}

@media #{$medium-bp} {
    .bp-navigation {
        margin: 0 auto;
    }

    .bp-navigation-link {
        font-size: 1rem;
        padding: 0 1.5rem;
    }
}
