{% macro nav(home, pages, posts, external, current_page) %}
    <nav class="bp-navigation">
        <ul class="bp-navigation-list">
            {% if home -%}
                {% set pageName = 'home' %}
                <li class="bp-navigation-list-item">
                    <a href="/" class="bp-navigation-link {%if current_page === pageName %}bp-navigation-link-active{% endif %}">
                        Home
                    </a>
                </li>
            {%- endif %}

            {% if pages.length > 0 -%}
                {% for page in pages -%}
                    {% set section = page.section %}

                    <li class="bp-navigation-list-item">
                        <a href="/{{ section }}" class="bp-navigation-link {%if current_page === section %}bp-navigation-link-active{% endif %}">
                            {{ page.link_text }}
                        </a>
                    </li>
                {%- endfor %}
            {%- endif %}

            {% if posts.length > 0 -%}
                {% for post in posts -%}
                    {% set post_link = post.post_link %}

                    <li class="bp-navigation-list-item">
                        <a href="/{{ post_link }}" class="bp-navigation-link {%if current_page === post_link %}bp-navigation-link-active{% endif %}">
                            {{ post.link_text }}
                        </a>
                    </li>
                {%- endfor %}
            {%- endif %}

            {% if external.length > 0 -%}
                {% for link in external -%}
                    <li class="bp-navigation-list-item">
                        <a href="{{ link.url }}" class="bp-navigation-link" target="_blank">
                            {{ link.name }}
                        </a>
                    </li>
                {%- endfor %}
            {%- endif %}
        </ul>
    </nav>
{% endmacro %}
