.bp-navigation-list {
    font-family: $heading-font-stack;
    margin: 0;
    padding: 0;
    font-size: 0;
    height: 2.5rem;
}

.bp-navigation-list-item {
    display: inline-block;
    height: 2.5rem;
}

.bp-navigation-link {
    background-color: var(--navigation-link-bg-color);
    color: var(--navigation-link-color);
    display: block;
    font-size: var(--font-size-base);
    font-weight: var(--weight-medium);
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 0.25rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 100%;

    &:hover,
    &:focus {
        background-color: var(--navigation-link-hover-bg-color);
        color: var(--navigation-link-hover-color);
    }

    &:before {
        content: '';
        position: absolute;
        top: -3px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: var(--navigation-link-active-bg-color);
        opacity: 0;
        transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);
    }
}

.bp-navigation-link-active {
    background-color: var(--navigation-link-active-bg-color);
    color: var(--navigation-link-active-color);
    text-decoration: underline;

    &:before {
        opacity: 1;
    }
}

@media #{$small-bp} {
    .bp-navigation-list,
    .bp-navigation-item {
        height: 4rem;
    }

    .bp-navigation-link {
        height: 4rem;
        line-height: 4rem;
        padding: 0 0.5rem;
    }
}
