.bp-table {
    display: block;
    margin: 0 auto;
}

.bp-table-headergroup {
    display: block;
    height: 0;
    width: 0;
}

.bp-table-rowgroup {
    border: 1px solid var(--header-bg-color);
    border-radius: 3px;
    display: inline-block;
    margin: 0 0 1.5rem;
    max-width: 100%;
}

.bp-table-cell {
    display: inline-block;
    padding: 0.5rem;
}

.bp-table-logo {
    display: block;
    padding: 1.5rem 0.5rem 0.5rem;
    width: 100%;
}

.bp-table-logo-image {
    margin: 0 auto;
    max-width: 9.375rem;
}

.bp-table-content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.bp-table-beer-heading {
    width: 100%;
}

.bp-table-beer-name {
    font-size: 1.5rem;
    margin: 0;
}

.bp-table-availability {
    font-size: 0.875rem;
    font-style: italic;
}

.bp-table-abv {
    font-size: 0.875rem;
}

.bp-table-beer-description {
    display: block;
    flex-basis: 100%;

    p {
        margin: 0 0 0.5rem;
    }
}

@media #{$small-bp} {
    .bp-table-rows {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .bp-table-rowgroup {
        flex-basis: auto;
        width: 47.5%;
    }
}

@media #{$medium-bp} {
    .bp-table-rowgroup {
        flex-basis: auto;
        width: 31%;
    }
}
