@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/work-sans/WorkSans-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/work-sans/WorkSans-LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/work-sans/WorkSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/work-sans/WorkSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/work-sans/WorkSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/work-sans/WorkSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
