:root {

    // Default link colors

    --body-link: #{$bp-gold};

    --body-link-hover: #{$bp-light};

    // Button colors

    --primary-button-background: #{$bp-dark};

    --primary-button-background-hover: #{$bp-gold};

    --primary-button-border: #{$bp-dark};

    --primary-button-border-hover: #{$bp-gold};

    --primary-button-text: #{$bp-gold};

    --primary-button-text-hover: #{$bp-dark};

    --secondary-button-background: #{$white};

    --secondary-button-background-hover: #{$bp-gold};

    --secondary-button-border: #{$bp-dark};

    --secondary-button-border-hover: #{$bp-gold};

    --secondary-button-text: #{$bp-dark};

    --secondary-button-text-hover: #{$bp-dark};

    // @group-end

    // --------------------------------------------------
    // @group Typography
    // --------------------------------------------------

    // Primary font used throughout all components.

    --primary-font: #{$font-stack};

    // Primary font weight.

    --default-weight: #{$default-font-weight};

    // Base font size.

    --font-size-base: 1rem;

    // Small font Size.

    --font-size-sm: 0.875rem;

    // Regular font weight.

    --weight-regular: #{$light-font-weight};

    // Bold font weight.

    --weight-bold: #{$bold-font-weight};

    // Medium font weight.

    --weight-medium: #{$regular-font-weight};

    // Headings

    --heading-font-stack: #{$heading-font-stack};

    --heading-font-weight: #{$regular-font-weight};

    // Heading 1 font size.

    --h1-font-size: 2.25rem;

    // Heading 2 font size.

    --h2-font-size: 1.75rem;

    // Heading 3 font size.

    --h3-font-size: 1.5rem;

    // Heading 4 font size.

    --h4-font-size: 1.25rem;

    // Heading 5 font size.

    --h5-font-size: 1.125rem;

    // Heading 6 font size.

    --h6-font-size: 1rem;

    // @group-end


    // --------------------------------------------------
    // @group Body
    // --------------------------------------------------

    // Background color for the body tag.

    --body-bg: #{$white};

    // Font color for the body tag.

    --body-color: #{$bp-dark};

    // Box shadow.

    --box-shadow: #{$box-shadow};

    // Box shadow secondary.

    --box-shadow-secondary: #{$box-shadow-secondary};


    // Footer

    // Footer background color.

    --footer-bg-color: #{$bp-dark};

    // Footer text color.

    --footer-text: #{white};

    // Footer link color.

    --footer-link: #{white};

    // Footer link hover color.

    --footer-link-hover: #{$bp-gold};


    // Header

    // Header background color.

    --header-bg-color: #{$bp-gold};

    // Header text color.

    --header-text-color: #{$bp-dark};


    // Navigation

    // Navigation link background color.

    --navigation-link-bg-color: #{$bp-gold};

    // Navigation link hover background color.

    --navigation-link-hover-bg-color: #{$bp-dark};

    // Navigation link active background color.

    --navigation-link-active-bg-color: #{$bp-gold};

    // Navigation link color.

    --navigation-link-color: #{$bp-dark};

    // Navigation link hover color.

    --navigation-link-hover-color: #{$white};

    // Navigation link active color.

    --navigation-link-active-color: #{$black};
}
