@import 'variables';
@import 'fonts';
@import 'theme';

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.bp {
    align-items: stretch;
    background-color: var(--body-bg);
    color: var(--body-color);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-family: var(--primary-font);
    font-weight: var(--default-weight);
    line-height: 1.2;
    justify-content: flex-start;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    position: relative;
    z-index: 10;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font-stack);
    font-weight: var(--heading-font-weight);
    margin-top: 0;
}

p {
    line-height: 1.5;
    margin-top: 0;
}

a {
    color: var(--link-color);
    text-decoration: underline;

    &:hover,
    &:focus {
        color: var(--link-color-hover);
    }
}

img,
svg {
    display: block;
    max-width: 100%;
    width: 100%;
}

.bp-main {
    flex-grow: 1;
    margin: 0;
}

.bp-container {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    max-width: 90rem;
    overflow-x: hidden;
    padding: 2rem 1rem;
    position: relative;
    width: 100%;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    display: block;
    margin: 0 0 0.75rem;
    padding: 0;
}

input {
    box-sizing: border-box;
}

.bp-fine-print {
    font-size: 0.75rem;
    font-style: italic;
    margin: 1.5rem 0 0.5rem;
    text-align: center;
}

.bp-accessible-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.bp-button {
    border: 1px solid;
    border-radius: 3px;
    display: inline-block;
    font-size: 1.125rem;
    line-height: 1.125rem;
    outline: none;
    margin: 0 0 1rem 1rem;
    padding: 0.25rem 0.75rem;
    text-decoration: none;
    transition: all 0.3s ease;

    &:first-child {
        margin-left: 0;
    }

    &-primary {
        background-color: var(--primary-button-background);
        border-color: var(--primary-button-border);
        color: var(--primary-button-text);

        &:hover,
        &:focus {
            background-color: var(--primary-button-background-hover);
            border-color: var(--primary-button-border-hover);
            color: var(--primary-button-text-hover);
        }
    }

    &-secondary {
        background-color: var(--secondary-button-background);
        border-color: var(--secondary-button-border);
        color: var(--secondary-button-text);

        &:hover,
        &:focus {
            background-color: var(--secondary-button-background-hover);
            border-color: var(--secondary-button-border-hover);
            color: var(--secondary-button-text-hover);
        }
    }

    &-icon {
        border-radius: 3rem;
        border-width: 2px;
        padding: 0.25rem;
    }
}

.bp-button-row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    .bp-button {
        margin: 0 auto;
    }
}

.bp-home-content {
    display: block;
    margin: 0;
    padding: 2rem 1rem;
}

.bp-home-detail {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    width: 100vw;
}

.bp-beer-content {
    display: block;
    margin: 0;
    padding: 2rem 1rem;
}

.bp-beer-logo {
    display: block;
    margin: 0 auto;
    max-width: 12.5rem;
}

.bp-beer-detail {
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    width: 100vw;
}

.bp-page-content {
    margin-top: 40vh;
    width: 100%;
}

.bp-page-detail {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
}

.bp-age-verification-content {
    border-radius: 3px;
    color: var(--body-color);
    left: 0.5rem;
    min-width: 20rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    z-index: 5;
}

.bp-age-verification-form {
    background-color: var(--body-bg);
    min-width: 18rem;
    padding: 1rem;

    .bp-button-row {
        margin: 0 auto;
        max-width: 24rem;
    }
}

.bp-age-verification-header {
    background-color: var(--body-color);
    border-radius: 3px 3px 0 0;
    color: var(--body-bg);
    margin: -1.25rem -1rem 1.5rem;
    padding: 1rem;
    text-align: center;
}

.bp-age-verification-bg {
    background-repeat: no-repeat;
    background-position: 10% 100%;
    background-size: cover;
    bottom: -0.5rem;
    left: -0.5rem;
    position: fixed;
    right: -0.5rem;
    top: -0.5rem;
    z-index: 1;
}

.bp-privacy {
    align-items: stretch;
    background-color: var(--body-bg);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    left: 50%;
    height: 90vh;
    justify-content: flex-start;
    max-width: 64rem;
    overflow: visible;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 5;

    &-content {
        padding: 2rem;
        overflow-y: auto;
    }
}

.bp-privacy-title {
    background-color: var(--body-color);
    border-radius: 3px 3px 0 0;
    color: var(--body-bg);
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem;
    text-align: center;
}

.bp-privacy-back {
    height: 3rem;
    position: absolute;
    right: -1.5rem;
    top: -1.5rem;
    width: 3rem;
    z-index: 10;
}

@media #{$small-bp} {
    .bp-home-content {
        height: calc(100vh - 7rem);
        padding: 3rem 2rem;
        width: 60vw;
    }

    .bp-home-detail {
        bottom: 0;
        height: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 40vw;
        z-index: -1;
    }

    .bp-beer-content {
        height: calc(100vh - 7rem);
        padding: 3rem 2rem;
        width: 35vw;
    }

    .bp-beer-detail {
        bottom: 0;
        height: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 65vw;
        z-index: -1;
    }

    .bp-privacy-title {
        font-size: 2rem;
    }
}

@media #{$medium-bp} {
    .bp-age-verification-content {
        left: auto;
        min-height: 40vh;
        position: fixed;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        width: 40vw;
    }

    .bp-age-verification-form {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .bp-age-verification-bg {
        background-position: 0 50%;
    }
}

@media #{$large-bp} {
    .bp-age-verification-content {
        right: 4rem;
        width: 30vw;
    }

    .bp-age-verification-bg {
        background-position: 50%;
    }
}

@import '../components/footer/footer';
@import '../components/header/header';
@import '../components/logo/logo';
@import '../components/navigation/navigation';
@import '../components/table/table';
