@import 'variables';
@import 'fonts';
@import 'theme';

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-bg);
    color: var(--body-color);
    font-family: var(--primary-font);
    font-weight: var(--default-weight);
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font-stack);
    font-weight: var(--heading-font-weight);
}

p {
    line-height: 1.5;
}

a {
    color: var(--link-color);
    text-decoration: underline;

    &:hover,
    &:focus {
        color: var(--link-color-hover);
    }
}

img,
svg {
    display: block;
    max-width: 100%;
    width: 100%;
}

/* Added this min-height for now so that the footer ALWAYS sits at bottom of screen. */

.bp-main {
    min-height: calc(100% - 7rem);
}

.bp-home {
    height: calc(100% - 7rem);
    margin: 0;
    position: relative;
}

.bp-container {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    max-width: 90rem;
    padding: 2rem 2rem 5rem;
    width: 100%;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    display: block;
    margin: 0 0 0.75rem;
    padding: 0;
}

input {
    box-sizing: border-box;
}

.bp-accessible-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.bp-home-content {
    display: block;
    margin: 0;
    padding: 2rem 1rem;
}

.bp-home-detail {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    width: 100vw;
}

@media #{$small-bp} {
    .bp-home-content {
        height: calc(100vh - 7rem);
        padding: 3rem 2rem;
        width: 40vw;
    }

    .bp-home-detail {
        bottom: 0;
        height: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 60vw;
        z-index: -1;
    }
}

@import '../components/header/header';
@import '../components/navigation/navigation';
@import '../components/logo/logo';
@import '../components/hero/hero';
@import '../components/related-links/related-links';
@import '../components/content/content';
@import '../components/post-list-item/post-list-item';
@import '../components/alert/alert';
@import '../components/footer/footer';
