@import 'variables';
@import 'fonts';
@import 'theme';

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.bp {
    align-items: stretch;
    background-color: var(--body-bg);
    color: var(--body-color);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-family: var(--primary-font);
    font-weight: var(--default-weight);
    line-height: 1.2;
    justify-content: flex-start;
    margin: 0;
    min-height: 100vh;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font-stack);
    font-weight: var(--heading-font-weight);
}

p {
    line-height: 1.5;
}

a {
    color: var(--link-color);
    text-decoration: underline;

    &:hover,
    &:focus {
        color: var(--link-color-hover);
    }
}

img,
svg {
    display: block;
    max-width: 100%;
    width: 100%;
}

.bp-main {
    flex-grow: 1;
    margin: 0;
}

.bp-container {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    max-width: 90rem;
    overflow-x: hidden;
    padding: 2rem 1rem;
    position: relative;
    width: 100%;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    display: block;
    margin: 0 0 0.75rem;
    padding: 0;
}

input {
    box-sizing: border-box;
}

.bp-accessible-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.bp-home-content {
    display: block;
    margin: 0;
    padding: 2rem 1rem;
}

.bp-home-detail {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    width: 100vw;
}

.bp-page-content {
    margin-top: 40vh;
    width: 100%;
}

.bp-page-detail {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
}

@media #{$small-bp} {
    .bp-home-content {
        height: calc(100vh - 7rem);
        padding: 3rem 2rem;
        width: 40vw;
    }

    .bp-home-detail {
        bottom: 0;
        height: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 60vw;
        z-index: -1;
    }
}

@import '../components/footer/footer';
@import '../components/header/header';
@import '../components/logo/logo';
@import '../components/navigation/navigation';
@import '../components/table/table';
