<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">

    <title>Bright Path Brewing</title>
    <meta name="description" content="Craft brewery focusing on lager and session beer based in Jim Thorpe, Pennsylvania.">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest">

    <meta property="og:title" content="Bright Path Brewing">
    <meta property="og:description" content="Craft brewery focusing on lager and session beer based in Jim Thorpe, Pennsylvania.">
    <meta property="og:image" content="/assets/images/brightpath-logo-social.jpg">
    <meta property="og:url" content="https://www.brightpathbrewing.com">
    <meta property="og:site_name" content="Bright Path Brewing">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="stylesheet" type="text/css" href="/assets/styles/bp.css">
</head>
<body class="bp">
    {% from "components/header/header.njk" import header as header %}
    {% from "components/footer/footer.njk" import footer as footer %}

    {% set info = collections.info[0].data %}

    {% if renderData.section !== 'privacy' %}
    {% set headerInfo = info.header %}
    {% set logoAlt = image.name + ' logo' %}
    {{ header(
        headerInfo.logo,
        logoAlt,
        info.name,
        headerInfo.showHome,
        headerInfo.nav,
        renderData.section
    ) }}
    {% endif %}

    {% block template %}
    {% endblock %}

    {% if renderData.section !== 'privacy' %}
    {% set footerInfo = info.footer %}
    {% set social = info.social %}
    {{ footer(footerInfo, social) }}
    {% endif %}

    <script type="text/javascript" src="/assets/js/brightpath.js"></script>
</body>
</html>
