.bp-hero {
    margin-bottom: $rhythm * 8;
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 15.625rem;
    background-size: 18.75rem;

    .bp-hero-contact-info {
        display: flex;
        flex-direction: column;
        margin-top: $rhythm;
        color: var(--hero-contact-color);

        p {
            margin: 0;
        }

        a {
            display: block;
            margin-top: $rhythm;
            color: var(--hero-contact-link-color);
            text-decoration: none;

            &:hover,
            &:focus {
                color: var(--hero-contact-link-hover);
                text-decoration: underline;
            }
        }
    }


    .bp-subtitle {
        h3 {
            font-size: var(--h5-font-size);
            font-weight: var(--weight-regular);
            line-height: 2rem;
        }

        p {
            max-width: 40rem;
            margin: 0 auto;
            line-height: 2rem;
        }
    }

    .bp-hero-content {
        max-width: 48rem;
    }

    &.bp-section-hero {
        text-align: center;
        padding-bottom: 0;

        .bp-hero-content {
            max-width: none;
        }
    }
}

.bp-hero-title {
    font-size: var(--h3-font-size);
    margin-bottom: $rhythm;
}

.bp-hero-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: $rhythm * 6;
    margin-bottom: $rhythm * 4;
    background-color: var(--body-bg);
    border-radius: 4px;
    padding: $rhythm * 3;
    box-shadow: 0 8px 16px 0 var(--box-shadow);
}

.bp-hero-contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $rhythm * 4;
    font-weight: var(--weight-medium);

    &:last-child {
        margin-bottom: 0;
    }
}

.bp-button {
    display: inline-block;
    background-color: var(--btn-bg-color);
    border-radius: var(--btn-round);
    color: var(--btn-color);
    padding: 0.875rem 1rem 0.875rem 1.5rem;
    font-size: var(--btn-font-size);
    font-weight: var(--btn-font-weight);
    text-decoration: none;
    transition: ease 200ms background-color;

    .bp-button-icon {
        position: relative;
        top: 0.063rem;
        margin-left: 1.75rem;
    }

    &:hover,
    &:focus {
        background-color: var(--btn-hover-bg-color);
        color: var(--btn-hover-color);
    }
}

@media #{$large-bp} {
    .bp-hero {
        padding-bottom: $rhythm * 3;
        background-size: auto;
        background-position: right bottom;

        .bp-subtitle {
            h3 {
                font-size: var(--h3-font-size);
                line-height: 3rem;
            }
        }

        .bp-hero-contact-info {
            margin-top: 0;
            margin-left: $rhythm * 3;
        }
    }

    .bp-hero-title {
        font-size: var(--h1-font-size);
        margin-bottom: $rhythm * 2;
    }

    .bp-hero-contact {
        flex-direction: row;
        text-align: left;
        margin: 8.125rem $rhythm * 8 $rhythm * 3;
    }

    .bp-hero-contact-content {
        width: 50%;
        flex-direction: row;
        margin-bottom: 0;
    }
}
