{% macro relatedLinks(resources, icons) %}
    <aside class="bp-sidebar">
        <h2 class="bp-sidebar-header">Top Resources</h2>
        <ul class="bp-sidebar-list">
            {% for resource in resources -%}
                <li class="bp-sidebar-list-item">
                    {% if resource.resource_link -%}
                        <a class="bp-sidebar-link" href="{{  resource.resource_link  }}">
                    {%- endif %}
                    {% if resource.resource_icon -%}
                        <img class="bp-sidebar-icon" src="{{  resource.resource_icon  }}" alt="" />
                    {% else %}
                        <img class="bp-sidebar-icon" inline src="{{ icons.document}}" alt="">
                    {%- endif %}

                    <span class="bp-sidebar-text">{{ resource.resource_name }}</span>

                    {% if resource.resource_link -%}
                        </a>
                    {%- endif %}
                </li>
            {%- endfor %}
        </ul>
    </aside>
{% endmacro %}
