---
renderData:
  section: "privacy"
permalink: "/age-verification/"
---

{% extends "layouts/privacy.njk" %}

{% block content %}
    {% set content = collections.page[3].data %}
    <main class="bp-age-verification-content">
        {% set validDate = 'last valid birthday' | validDate %}
        <h1 class="bp-accessible-text">Bright Path Brewing</h1>

        <section class="bp-age-verification-form">
            <h2 class="bp-age-verification-header">{{ content.title }}</h2>

            {% if content.description -%}
                {{ content.description | markdown | safe }}
            {%- endif %}

            <p>Were you born on or before {{ validDate }}?</p>

            <div class="bp-button-row">
                <button type="button" class="bp-button bp-button-primary" id="bp-enter">Let me in!</button>
                <a href="https://www.google.com/search?q=hiking+Jim+Thorpe+PA" class="bp-button bp-button-secondary">Take a hike</a>
            </div>

            <p class="bp-fine-print">Entering this site agrees to our <a href="/privacy">privacy policy</a>.</p>
        </section>
    </main>

    <div class="bp-age-verification-bg" style="background-image: url({{ content.hero }})"></div>
{% endblock %}
