---
renderData:
  section: "home"
pagination:
    data: collections.home
    alias: home
    size: 1
permalink: "/home/"
---

{% extends "layouts/home.njk" %}
{% from "components/hero/hero.njk" import hero as hero %}

{% block content %}
    {% if home.data.hero -%}
        <section class="bp-home-content">
            <h2>{{ home.data.title }}</h2>

            {% if home.data.description -%}
                {{ home.data.description | markdown | safe }}
            {%- endif %}
        </section>

        <div class="bp-home-detail" style="background-image: url({{ home.data.hero }})"></div>
    {%- endif %}

    {% if home.data.content -%}
        {{ home.data.content | markdown | safe }}
    {%- endif %}
{% endblock %}
