---
renderData:
  section: "beer"
permalink: "/beer/"
---

{% extends "layouts/content.njk" %}
{% from "components/hero/hero.njk" import hero as hero %}

{% block content %}
    OUR BEER
{% endblock %}
