{% from "components/socialLinks/socialLinks.njk" import socialLinks as socialLinks %}

{% macro footer(content, social) %}
<footer class="bp-footer">
    <div class="bp-container">
        {% if content -%}
        <p class="bp-footer-text">{{ content | safe }}</p>
        {%- endif %}
        {% if social -%}
        {{ socialLinks(social) }}
        {%- endif %}
    </div>
</footer>

{% endmacro %}
