.bp-social-list {
    .bp-footer-text + {
        margin-right: 0;
    }
}

.bp-footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text);
    min-height: 3rem;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
    text-align: center;
    width: 100%;

    .bp-container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    a {
        color: var(--footer-link);

        &:hover,
        &focus {
            color: var(--footer-link-hover);
            text-decoration: underline;
        }
    }

    .bp-social-list {
        color: var(--footer-text);
    }

    .bp-social-icon {
        height: 1rem;
        fill: var(--footer-link);
        width: 1rem;

        &:hover,
        &:focus {
            color: var(--footer-link-hover);

            .bp-social-icon {
                fill: var(--footer-link-hover);
            }
        }
    }

    .bp-social-text {
        display: inline-block;
        height: auto;
        font-size: 1rem;
        text-decoration: underline;
        vertical-align: middle;
        visibility: visible;
        width: auto;
    }
}
