.bp-content {
    display: flex;

    &.bp-has-sidebar {
        flex-direction: column;
    }
}

.bp-markdown {
    h1 {
        font-size: var(--h1-font-size);
        line-height: 1.2;
    }

    h2 {
        font-size: var(--h2-font-size);
        line-height: 1.2;
    }

    h3 {
        font-size: var(--h3-font-size);
        line-height: 1.5;
    }

    h4 {
        font-size: var(--h4-font-size);
        line-height: 1.3;
    }

    h5 {
        font-size: var(--h5-font-size);
        line-height: 1.25;
    }

    h6 {
        font-size: var(--h6-font-size);
        line-height: 1.56;
    }

    p,
    li {
        line-height: 2;
    }

    a {
        color: var(--body-link);

        &:hover,
        &:focus {
            color: var(--body-link-hover);
            text-decoration: underline;
        }
    }

    hr {
        border-top: 1px solid var(--body-color);
    }

    blockquote {
        font-style: italic;
        line-height: 2;
        position: relative;

        &:before {
            height: 100%;
            width: 2px;
            background-color: var(--related-links-bg-color);
            color: var(--related-links-text-color);
            content: '';
            position: absolute;
            left: -40px;
            top: 0;
        }
    }

    cite,
    strong,
    b,
    em {
        font-weight: var(--weight-bold);
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    i {
        font-style: italic;
    }
}

@media #{$large-bp} {
    .bp-content.bp-has-sidebar {
        justify-content: space-between;
        flex-direction: row;

        .bp-article {
            width: 56.25%;
        }

        .bp-sidebar {
            width: 31.25%;
        }
    }
}
