{% macro postListItem(links, icons) %}
    <ul class="bpbc-post-grid">
        {% for link in links -%}
            <li class="bpbc-post-item">
                <a class="bpbc-post-link" href="{{ link.slug }}">
                    {% if link.icon -%}
                        {{ link.icon | svgContents | safe }}
                    {% else %}
                        {% set icon = icons.post_link | string %}
                        {{ icon | svgContents | safe }}
                    {%- endif %}

                    <span class="bpbc-post-link-title">{{ link.title }}</span>
                </a>
            </li>
        {%- endfor %}
    </ul>
{% endmacro %}
