{% from "components/logo/logo.njk" import logo as logo %}
{# {% from "components/navigation/navigation.njk" import nav as nav %} #}

{% macro header(image, client, title, nav_home, nav_pages, current_section) %}
    <header class="bp-header">
        <h1 class="bp-accessible-text">
            {{ title }}
        </h1>

        <div class="bp-container">
            <div class="bp-header-title-content">
                {{ logo(
                    image,
                    client
                ) }}

                {# {{ nav(
                    nav_home,
                    nav_pages,
                    current_section
                ) }} #}
            </div>
        </div>
    </header>
{% endmacro %}
