{% from "components/logo/logo.njk" import logo as logo %}
{% from "components/navigation/navigation.njk" import nav as nav %}

{% macro header(image, client, title, nav_home, nav_pages, nav_posts, nav_external, section) %}
    <header class="bpbc-header">
        <div class="bpbc-container">
            <div class="bpbc-header-title-content">
                {{ logo(
                    image,
                    client
                ) }}

                <h1 class="bpbc-title">
                    {{ title }}
                </h1>
            </div>

            {{ nav(
                nav_home,
                nav_pages,
                nav_posts,
                nav_external,
                section
            ) }}
        </div>
    </header>
{% endmacro %}
