.bp-header {
    background-color: var(--header-bg-color);
    min-height: 4rem;

    .bp-container {
        padding: 0 0.75rem;
    }

    .bp-header-title-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media #{$medium-bp} {
    .bp-header {
        .bp-header-title-content {
            flex-direction: row;
        }
    }
}
