.bp-logo {
    position: relative;
    display: block;
}

.bp-logo-link {
    display: block;
    height: 3.125rem;
    width: auto;
}

.bp-logo-image {
    display: block;
    height: 100%;
    width: auto;
}
