{% macro logo(image_src, image_alt_text, image_2) %}
    <div class="bp-logo">
        <a class="bp-logo-link" href="/">
            <span class="bp-logo-image" aria-hidden="true">
                {{ image_src | svgContents | safe }}
            </span>
            <span class="bp-accessible-text">{{ image_alt_text }}</span>
            <div class="bp-logo-text">
                <span class="bp-logo-text-image" aria-hidden="true">
                    {{ image_2 | svgContents | safe }}
                </span>
            </div>
        </a>
    </div>
{% endmacro %}
