{% macro logo(image_src, image_alt_text) %}
    <div class="bp-logo">
        <a class="bp-logo-link" href="/">
            <img class="bp-logo-image" src="{{ image_src }}" alt="{{ image_alt_text }}">
        </a>
    </div>
{% endmacro %}
