.bp-global-alert {
    padding-bottom: 0;
}

.bp-alert {
    background-color: var(--alert-bg);
    border-radius: 4px;
    display: flex;
    overflow: hidden;
}

.bp-alert-icon-container {
    background-color: var(--alert-icon-bg);
    display: flex;
    align-items: center;
    padding: $rhythm;
    position: relative;
    width: 3rem;
}

.bp-alert-icon {
    margin: auto;
    max-width: 100%;
}

.bp-alert-message {
    color: var(--alert-text);
    padding: $rhythm * 2;

    a {
        color: var(--alert-link);

        &:hover,
        &:focus {
            color: var(--alert-link-hover);
        }
    }
}

.bp-alert-title {
    font-size: var(--font-size-base);
    font-weight: var(--heading-font-weight);
    margin: 0 0 0.5rem;
}

.bp-alert-description {
    font-size: var(--font-size-sm);
    font-weight: var(--weight-medium);
    margin: 0;

    *:first-child {
        margin-top: 0;
    }

    *:last-child {
        margin-bottom: 0;
    }
}
